<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <main id="app">
    </main>

  </body>
  <!-- <script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
<script>
  Initialize Firebase comment this section out
  var config = {
    apiKey: "AIzaSyDlPdp-XKpKxRTRaO6Ew3Hh_R4E-1xpSUo",
    authDomain: "bubble-bee-spelling-game.firebaseapp.com",
    databaseURL: "https://bubble-bee-spelling-game.firebaseio.com",
    storageBucket: "bubble-bee-spelling-game.appspot.com",
    messagingSenderId: "419044447008"
  };
  firebase.initializeApp(config);
</script> -->
  <script src="dist/bundle.js" charset="utf-8"></script>
</html>
