.Bubble-Bee-Image {
  width: 100%;
  margin-bottom: -13em;
}

.teachers-rule-Image{
  width: 100%;
  margin-bottom: -14em;
}

.enter-words-Image{
  margin-bottom: -16.5em;
  width: 100%;
}

*{ margin: 0; padding: 0;}

body {
	overflow: hidden;
}

.header {
  text-align: center;
  font-weight: bold;
}



.login_form {
  margin-left: 24%;
  width: 52%;
  height: 30%;
  margin: 0 auto:
  position: relative;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 40px 30px 30px 30px;
  font-family: Serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 34px;
  color: #414848;
  text-shadow: 1px 1px 0 rgba(256, 256, 256, 0.5);
  margin-bottom: 10px;
}

.content {
  padding: 0 30px 25px 30px:
  width: 188px;
}

.input_username {
  width: 50%;
  height: 5%;
  text-align: center;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  border-radius: 13px;
  margin-left: 19%;
  font-size: x-large;
  background-color: transparent;
}

.input_password {
  width: 50%;
  height: 5%;
  text-align: center;
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  border-radius: 13px;
  margin-left: 19%;
  font-size: x-large;
  margin-bottom: 25px;
  background-color: transparent;
}

.button {
  float:right;
	padding: 11px 25px;
  width: 80px;
	font-family: serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  margin-top: 10px;
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;

	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.register {
  display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
  text-align: left;
	background: none;
	border: none;
	cursor: pointer;
  margin-left: 47px;
  margin-top: 10px;
	font-family: serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.teachers-unite {
  padding: 11px 25px;
  width: 50px;
  font-family: serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
  margin-top: 10px;
  background: #56c2e1;
  border: 1px solid #46b3d3;
  border-radius: 5px;
  margin-left: 70px;
  text-decoration: none;
  animation: blink linear infinite 4s;
}

.footer {
  display: inline-block;
  margin-left: 28%;
  margin-top: 2%;
}

.page_footer {
  text-align: center;
}


/*<-------------- THIS IS THE CLOUDS CSS ------------->*/
#clouds{
	padding: -300px 0;
	background: #00B5F3;
	background: -webkit-linear-gradient(top, #00B5F3 0%, #fff 100%);
	background: -linear-gradient(top, #00B5F3 0%, #fff 100%);
	background: -moz-linear-gradient(top, #00B5F3 0%, #fff 100%);
  color: #210;
  font: 100% Lato, Arial, Sans Serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 12.5em; height: 3.75em;
	background: #fff;

	border-radius: 12.5em;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;

	position: relative;
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute;
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;

	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;

	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}


/* Time to annimate now!! */

.x1 {
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/

	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	left: -250px; top: -150px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 470px; top: -50px;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: -150px;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/

	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}

/*<----------------------start of floating bubbles css code------------ */

body {
  background: #00B5F3;
  background: -webkit-linear-gradient(top, #00B5F3 0%, #fff 100%);
	background: -linear-gradient(top, #00B5F3 0%, #fff 100%);
	background: -moz-linear-gradient(top, #00B5F3 0%, #fff 100%);
  color: #210;
	font: 100% Lato, Arial, Sans Serif;
	height: 170vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
  pointer-events: none;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes blink {
  78% {
    color: #ff00ff;
    text-shadow: inherit;
  }
  79%{
     color: #ff00ff;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: #ff00ff;
    text-shadow: inherit;
  }
  82% {
    color: #ff00ff;
    text-shadow: none;
  }
  83% {
    color: #ff00ff;
    text-shadow: inherit;
  }
  92% {
    color: #ff00ff;
    text-shadow: none;
  }
  92.5% {
    color: #ff00ff;
    text-shadow: inherit;
  }
}

/* ANIMATIONS */

.xx1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: -5%;
	top: 5%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.xx2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

  	left: 5%;
  	top: 80%;

  	-webkit-transform: scale(0.4);
  	-moz-transform: scale(0.4);
  	transform: scale(0.4);
}

.xx3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

  	left: 10%;
  	top: 40%;

  	-webkit-transform: scale(0.7);
  	-moz-transform: scale(0.7);
  	transform: scale(0.7);
}

.xx4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

  	left: 20%;
  	top: 0;

  	-webkit-transform: scale(0.3);
  	-moz-transform: scale(0.3);
  	transform: scale(0.3);
}

.xx5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

  	left: 30%;
  	top: 50%;

  	-webkit-transform: scale(0.5);
  	-moz-transform: scale(0.5);
  	transform: scale(0.5);
}

.xx6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

  	left: 50%;
  	top: 0;

  	-webkit-transform: scale(0.8);
  	-moz-transform: scale(0.8);
  	transform: scale(0.8);
}

.xx7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

  	left: 65%;
  	top: 70%;

  	-webkit-transform: scale(0.4);
  	-moz-transform: scale(0.4);
  	transform: scale(0.4);
}

.xx8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

  	left: 80%;
  	top: 10%;

  	-webkit-transform: scale(0.3);
  	-moz-transform: scale(0.3);
  	transform: scale(0.3);
}

.xx9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

  	left: 70%;
  	top: 50%;

  	-webkit-transform: scale(0.6);
  	-moz-transform: scale(0.6);
  	transform: scale(0.6);
}

.xx10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

  	left: 80%;
  	top: 80%;

  	-webkit-transform: scale(0.3);
  	-moz-transform: scale(0.3);
  	transform: scale(0.3);
}

.xx11 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 65%;
	top: 80%;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);

}

.xx12 {
  -webkit-animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;

  left: 70%;
  top: 80%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.xx13 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 20%;
	top: 80%;

	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
}

.xx14 {
  -webkit-animation: animateBubble 24s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 24s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 24s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 80%;
	top: 10%;

	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
  	border-radius: 50%;

    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

    height: 200px;
  	position: absolute;
  	width: 200px;
    pointer-events: all;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
	   border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

	  content: "";
    height: 180px;
	  left: 10px;
	  position: absolute;
	  width: 180px;
}

.letter {
  text-align: center;
  font-size: 8em;
  position: absolute;
  z-index: 2;
  margin-left: 27%;
  margin-top: 20%;
  margin-right: 30%;
  margin-bottom: 10%;
  color: #00FF7F;
  font-weight: bold;
  animation: blink linear infinite 5s;
  pointer-events: none;
}
.main{
  position: relative;
}
.letterDisplay {
  font-size: 3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.letterHint {
  font-size: 3em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-animation: cssAnimation 0s ease-in 3.5s forwards;
  -moz-animation: cssAnimation 0s ease-in 3.5s forwards;
  -o-animation: cssAnimation 0s ease-in 3.5s forwards;
  animation: cssAnimation 0s ease-in 3.5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  font-family: sans-serif;

}
  @keyframes blink {
    78% {
      color: #ff00ff;
      text-shadow: inherit;
    }
    79%{
       color: #ff00ff;
    }
    80% {

      text-shadow: none;
    }
    81% {
      color: #ff00ff;
      text-shadow: inherit;
    }
    82% {
      color: #ff00ff;
      text-shadow: none;
    }
    83% {
      color: #ff00ff;
      text-shadow: inherit;
    }
    92% {
      color: #ff00ff;
      text-shadow: none;
    }
    92.5% {
      color: #ff00ff;
      text-shadow: inherit;
    }
  }

}
@keyframes cssAnimation {
  to {
  width:0;
  height:0;
  overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
  width:0;
  height:0;
  visibility:hidden;
  }
}

/*   MEDIA QUERY ANIMATION BELOW      */

@media only screen and (min-width: 52em) {
    /* Style adjustments for viewports that meet the condition */
    .article {
      display: inline-block;
      margin-right: -4px;
      width: 33%;
    }
}

@media only screen and (min-width: 290em) {
  .article__title {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: 805em){
  .article__link {
    font-size: 2rem;
  }

  .article__description {
    font-size: 1.8rem;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/*  END OF MEDIA QUERY    */

.words_list {
  list-style: none;
  text-align: center;
}

.words_input_box {
  background-color: transparent;
}

.addButton {
  margin-left: -13%;
  border-radius: 7px;
  width: 10%;
  font-weight: bold;
  background-color: #56c2e1;
  color: white;
  height: 28px;
}

.returnedWord {
  text-align: center;
  font-family: sans-serif;
  color: #00FF7F;
  font-weight: bold;
  animation: blink linear infinite 3s;
}

.letter_slots{
  text-align: center;
  border-bottom: solid 1px;
}

.letter-slot{
  display: inline-block;
  border-bottom: 2px solid #black;
  display: inline-block;
  border-bottom: 2px solid #345;
  color: #678;
  width: 30px;
  height: 30px;
  margin: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;

}

.back-button {
    padding: 11px 25px;
    font-family: serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    margin-top: 10px;
    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 25px;
    margin-left: 1%;
    text-decoration: none;
    margin-top: 4%;
    margin-right: 0%;
    color: #00ff00;
    animation: blink linear infinite 4s;
}

.hidden {
  display: none;
}

.correct {
  font-size: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #00ff00;
  animation: blink linear infinite 3s;
}
